$color-white: #fff;
$color-black: #000;
$color1: #A85AA3;
$color2: #6B256C;
$color3: #68718B;
$color4: #E6E8EC;
$color5: #F0E91B;
$color6: #a25894;
$color7: #F389B0;
$color8: #231F20;
$color9: #F0CE45;












